[phases.setup]
nixPkgs = ["dotnet-sdk_8", "dotnet-runtime_8"]

[phases.install]
cmds = ["dotnet --version"]

[phases.build]
cmds = [
  "dotnet restore Bakery2048.API/Bakery2048.API.csproj",
  "dotnet publish Bakery2048.API/Bakery2048.API.csproj -c Release -o /app/out --no-restore"
]

[start]
cmd = "dotnet /app/out/Bakery2048.API.dll"
